.second{
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%;
  height: 70vh;
  // background-color: red;
  .container{
    display: flex;
    flex-direction: column;
    .header{
      margin-top: 1%;
      display: flex;
      align-items: center;
      justify-content: center;
      h3{
        font-family: "FrankRuhlLibre-Bold";
        font-size: 68px;
        color: #34251F;
      }
    }
    .info{
      // margin-top: 1%;
      display: flex;
      align-items: center;
      justify-content: center;
      span{
        font-size: 20px;
        color: #34251F;
      }
    }
    .imagecontainer{
      margin-top: 3%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      // background-color: blue;
      .individual{
        margin-right: 2%;
        img{
          // height: 90%;
          width: 330px;
          height: 300px;
          object-fit: cover;
        }
        button{
          position: relative;
          top: -50px;
          left: 10%;
          width: 80%;
          height: 40px;
          border: none;
          color: #34251F;
          font-size: 18px;
        }
      }
      .individual:last-child{
        margin-right: 0%;
        img{
          // height: 90%;
          width: 330px;
          height: 300px;
          object-fit: cover;
        }
        
      }
    }
  }
}